@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
  background-color: #ffffff;
  padding: 15px;
  color: #777777;
  font-size: 16px;
  letter-spacing: 2px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #f7f7f7;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.page {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 50px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  width: 100%;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .header__content {
    padding: 0 15px;
  }
}

.logo {
  height: 70px;
  width: 56px;
  display: block;
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #A14F03;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
  }
  .header__menu.active {
    left: 0;
  }
}

.menu {
  display: block;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  position: relative;
}
@media (min-width: 767px) {
  .menu__item {
    row-gap: 55px;
  }
}

.menu__link {
  color: #ffffff;
  font-size: 18px;
}

.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    position: absolute;
    height: 2px;
    width: 30px;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 25px;
  }
  .header__burger::after {
    bottom: 25px;
  }
  .header__burger:span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 96vh;
  padding-top: 240px;
  padding-bottom: 290px;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(1, 1, 1, 0.7) 100%), url("../image/hero-bg.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.title-hero {
  color: #ffffff;
  margin-bottom: 50px;
}

.title-hero__main {
  display: inline-block;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  animation-name: leftToRight;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

.title-hero__secondary {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  animation-name: rightToLeft;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #777777;
  padding: 15px 40px;
  background-color: #ffffff;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  z-index: -1;
  transition: all 0.3s;
}
.btn--animated {
  backface-visibility: hidden;
  animation: btnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}/*# sourceMappingURL=main.css.map */