.page__hero {}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 96vh;
    padding-top: 240px;
    padding-bottom: 290px;
    background:
        linear-gradient(90deg, rgba(186, 133, 84, 0.70) 0%, rgba(1, 1, 1, 0.70) 100%),
        url('../image/hero-bg.jpg') center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.title-hero {
    color: $white;
    margin-bottom: 50px;
}

.title-hero__main {
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    animation-name: leftToRight;
    animation-duration: 1.7s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
}

.title-hero__secondary {
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    animation-name: rightToLeft;
    animation-duration: 1.7s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
}

.btn {

    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: $main;
        padding: 15px 40px;
        background-color: $white;
        border-radius: 50px;
        transition: all .3s;
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

        &::after {
            opacity: 0;
            transform: scaleX(1.5) scaleY(1.7);
        }
    }

    &:active {
        transform: translateY(-2px);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 50px;
        z-index: -1;
        transition: all .3s;
    }

    &--animated {
        backface-visibility: hidden;
        animation: btnToUp .5s ease-out .7s;
        animation-fill-mode: backwards;
    }
}

@keyframes btnToUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

// @keyframes bottomToUp {
//     0% {
//         opacity: 0;
//         transform: scale(0);
//     }

//     80% {
//         transform: scale(1.1);
//     }

//     100% {
//         opacity: 1;
//         transform: scale(1);
//     }
// }