.page__hero {}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 96vh;
    padding-top: 240px;
    padding-bottom: 290px;
    background:
        linear-gradient(90deg, rgba($brown-color-light, 0.7) 0.03%, rgba($dark, 0.7) 100%),
        url('../image/hero-bg.jpg') center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.title-hero {
    color: $white;
    margin-bottom: 50px;
}

.title-hero__main {
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    animation-name: leftToRight;
    animation-duration: 1.7s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
}

.title-hero__secondary {
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    animation-name: rightToLeft;
    animation-duration: 1.7s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
}

.btn {
    &:link,
    &:visited {
        @include style-link($color-gray);
        position: relative;
        font-size: 20px;
        font-weight: 600;
        padding: 15px 40px;
        background-color: $white;
        border-radius: 50px;
        transition: all .3s;
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: $box-shadow;

        &::after {
            opacity: 0;
            transform: scaleX(1.5) scaleY(1.7);
        }
    }

    &:active {
        transform: translateY(-2px);
        box-shadow: $box-shadow;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 50px;
        z-index: -1;
        transition: all .3s;
    }

    &--animated {
        backface-visibility: hidden;
        animation: btnToUp .7s ease-out 1.5s;
        animation-fill-mode: backwards;
    }
}